<form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="main">
      <h4 class="p-3 m-2">{{ title }}</h4>
      <div class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
                <mat-form-field class="custom-input">
                  <mat-label>Рег.№</mat-label>
                  <input matInput formControlName="regNo" required />
                  
                  <mat-error *ngIf="myForm.get('regNo')?.hasError('required')">Это поле обязательно для заполнения</mat-error>
                  <mat-error *ngIf="myForm.get('regNo')?.hasError('pattern')">Должны присутствовать только цифры и специальный символ (123ABC)</mat-error>
                  <mat-error *ngIf="myForm.get('regNo')?.hasError('minlength')">Должен содержать не менее 5 символов</mat-error>
                </mat-form-field>
              </div>
  
            <div class="col-6">
              <mat-form-field class="custom-input" appearance="fill">
                <mat-label>Дата.рег</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="regDate" required>
                <mat-error *ngIf="myForm.get('regDate')?.hasError('required')" >Выберите дату</mat-error>
                <mat-error *ngIf="myForm.get('regDate')?.hasError('notToday')" >Укажите сегодняшнюю дату</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
  
            <div class="col-6">
              <mat-form-field class="custom-input">
                <mat-label>№исх.док-та</mat-label>
                <input matInput formControlName="docNo" required />
                <mat-error *ngIf="myForm.get('docNo')?.hasError('required')">
                  Это поле обязательно для заполнения
                </mat-error>
                <mat-error  *ngIf="myForm.get('docNo')?.hasError('pattern')">
                  Пишите буквы и цифры
                </mat-error>
              </mat-form-field>
             
            </div>
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Дата исх.док-та</mat-label>
                    <input  formControlName="dataDoc"    matInput [matDatepicker]="picker1">
                    <mat-error *ngIf="myForm.get('dataDoc')?.hasError('required')">Выберите дату</mat-error>
                    <mat-error *ngIf="myForm.get('dataDoc')?.hasError('oldinYokiHoizrgi')">Будущая дата не должна быть выбрана</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="custom-input">
                <mat-label>Форма доставки</mat-label>
                <mat-select formControlName="delivery">
                  <mat-option value="Куриер">Куриер</mat-option>
                  <mat-option value="Email">Email</mat-option>
                  <mat-option value="Телефонограмма">Телефонограмма</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="custom-input">
                <mat-label>Корреспондент</mat-label>
                <mat-select  formControlName="correspondent">
                  <mat-option value="ЦБ">ЦБ</mat-option>
                  <mat-option value="ГНИ">ГНИ</mat-option>
                  <mat-option value="ТСЖ">ТСЖ</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6 mt-4">
              <mat-form-field>
                <mat-label>Тема</mat-label>
                <mat-error *ngIf="myForm.get('subject')?.hasError('required')" >Это поле обязательно для заполнения</mat-error>
                <mat-error  *ngIf="myForm.get('subject')?.hasError('maxlength') && myForm.get('subject')?.touched" >не более 100 знаков</mat-error>
                <input matInput formControlName="subject" required />
              </mat-form-field>
            </div>
  
            <div class="col-6">
              <mat-form-field>
                <mat-label>Описание</mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>
            </div>
            
            <div class="col-6">
              <mat-form-field>
                <mat-label>Срок исполнение</mat-label>
                <input
                  matInput
                  [matDatepicker]="srok"
                  formControlName="deadline"
                  required
                />
                <mat-datepicker-toggle matSuffix [for]="srok"></mat-datepicker-toggle>
                <mat-datepicker #srok></mat-datepicker>
            
                <mat-error *ngIf="myForm.get('deadline')?.hasError('required')">
                  Выберите дату
                </mat-error>
                <mat-error *ngIf="myForm.get('deadline')?.hasError('executionBeforeReg')">
                  не может быть раньше даты рег.
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-6 ">
              <mat-slide-toggle formControlName="access" class="ms-2">Доступ</mat-slide-toggle>
            </div>
  
            <div class="col-6">
              <!-- Yashirin input -->
              <input #fileInput type="file" (change)="onFileSelected($event)" accept=".pdf, .doc, .docx" hidden />
            
              <!-- O‘zingiz istagan tugma -->
              <button mat-raised-button type="button" (click)="fileInput.click()">Fayl tanlang</button>
            
              <!-- Fayl nomi ko‘rsatish -->
              <p *ngIf="selectedFileName">{{ selectedFileName }}</p>
            
              <!-- Xatoliklar -->
              <mat-error *ngIf="fileFormatError">Недопустимый формат.</mat-error>
              <mat-error *ngIf="fileSizeError">Размер файла превышает 1Мб.</mat-error>
            </div>
            
            
  
            <div class="col-6">
              <mat-slide-toggle formControlName="control" class="ms-2">Контроль</mat-slide-toggle>
            </div>
  
            <div class="col-3 mt-2">
              <button mat-raised-button color="primary" (click)="onSave()" type="submit">Сохранть</button>
            </div>
            <div class="col-4 mt-2 ms-4">
              <button mat-raised-button color="warn" type="button" (click)="onClose()">Назад</button>
            </div>
            <div class="col-4 mt-2">
              <button mat-raised-button color="accent" type="button" *ngIf="isSaved" (click)="onPrint()">
                Принт
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  