
<div class="wrapper">
    <div class="container">
        <div class="header">
            <div class="list-title">
                <h3>{{title}}</h3>
            </div>
            <div class="list-add-btn">
                <button mat-raised-button (click)="openPopUp()" class="primary">Добавит</button>
            </div>
        </div>
        <div  *ngIf="dataSource.length > 0; else noData" class="list-table">
            <table [dataSource]="dataSource" mat-table>
                <ng-container matColumnDef="file">
                  <th mat-header-cell *matHeaderCellDef> Файл </th>
                  <td mat-cell *matCellDef="let element"> {{element.file}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Reg.No.">
                  <th mat-header-cell *matHeaderCellDef> Рег.№ </th>
                  <td mat-cell *matCellDef="let element"> {{element.RegNo}} </td>
                </ng-container>
              

                <ng-container matColumnDef="Reg.Date">
                  <th mat-header-cell *matHeaderCellDef> Дата рег </th>
                  <td mat-cell *matCellDef="let element"> {{element.RegDate}} </td>
                </ng-container>
              

                <ng-container matColumnDef="Outgoing Doc.No.">
                  <th mat-header-cell *matHeaderCellDef>№исх.док-та </th>
                  <td mat-cell *matCellDef="let element"> {{element. OutgoingDocNo}} </td>
                </ng-container>
                <ng-container matColumnDef="Outgoing Doc.Date">
                  <th mat-header-cell *matHeaderCellDef> Дата исх.док-та </th>
                  <td mat-cell *matCellDef="let element"> {{element.OutgoingDocDate}} </td>
                </ng-container>
                <ng-container matColumnDef="Correspondent">
                  <th mat-header-cell *matHeaderCellDef> Корреспондент </th>
                  <td mat-cell *matCellDef="let element"> {{element.Correspondent}} </td>
                </ng-container>
                <ng-container matColumnDef="Subject">
                  <th mat-header-cell *matHeaderCellDef> Тема </th>
                  <td mat-cell *matCellDef="let element"> {{element.Subject}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
              
              
        </div>
        <ng-template #noData>
            <p>{{noDataTitle}}</p>
        </ng-template>
    </div>
</div>
